/* theme config
*/
:root {
  --primary-blue: #5A87E9;
  --secondary-blue: #4B67A6;
  --primary-orange: #FFA585;
  --text-white-color: #fff;
  --text-black-color: #000;
}


/* basic reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

ul, ol, li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}