/* theme config
*/
:root {

    --font-saira: 'Saira', sans-serif;
    --font-saira-stencil: 'Saira Stencil One', cursive;

    --primary-blue: #5A87E9;
    --secondary-blue: #4B67A6;
    --primary-orange: #FFA585;
    --primary-gray: #e0e0e0;
    --secondary-gray: #d3d3d3;
    --text-white-color: #fff;
    --text-black-color: #000;
    --text-gray-color: #999;
    --text-gray-secondary-color: #737380
}


/* basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}