.appHeaderWrapper {
  background-color: var(--primary-blue);
  padding: 0 1rem;
}

.mobileSearchBa{
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 1rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-white-color);
  font-family: var(--font-saira-stencil);
  white-space: nowrap;
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.searchContainer {
  position: relative;
  width: 352px;
  height: 42px;

  @media (max-width: 768px) {
    display: none;
  }
}

.search {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 0 2.5rem 0 1rem;
  font-family: var(--font-saira);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  vertical-align: middle;
}

.searchIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
  top: 9px;
  color: var(--text-gray-color);
  pointer-events: none;
}

/* Mobile */
.mobileSearchBar {
  display: none;
  padding: 10px 1rem;
  background-color: var(--primary-blue);

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.mobileInput {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  font-family: var(--font-saira);
  font-size: 14px;
  text-align: start;
}

.mobileSearchIcon {
  position: absolute;
  right: calc(10% - 50px + 40px);
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: var(--text-gray-color);
  pointer-events: none;
}

.icon {
  font-size: 24px;
  color: var(--text-white-color);
  cursor: pointer;
}




